@font-face {
    font-family: ocr-a;
    src: url(ocr-a-regular.ttf);
}
/*
#4FAF44 
#F6EB14
#FF9526
#EF4423
#2A3492
*/

*{
    letter-spacing: 0.25vw;
    line-height: 2.2vw;
}

body{
    margin: 0%;
    padding: 0%;
    border: 0%;
    background-color: black;
}

.header{
    overflow:hidden;
    margin-top: 6vh;
    width: 102vw;
}
.playAgain{
    border: 0vw;
    margin-left: 3vw;
    padding: 0.2vw;
    width: 12vw;
    border-width: 0.2vw;
    font-family: ocr-a;
    font-size: 3.2vh;
    text-align: center;
    background-color:#4FAF44;
    cursor:pointer;
}
.hint{
    overflow:hidden;
    padding-top: 2.7vw;
    padding-bottom: 0.8vw;
    font-family:'Segoe UI';
    font-size: 1vw;
    color: #F6EB14;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.082);
    border-left: 157vh solid transparent;
    margin-top: -7vw;
}

.middleSec{
    display: block;
    margin-top: 5vw;
    height: 8vw;
}
.gameTitle{
    overflow:hidden;
    margin-left: 35vw;
    width: 30vw;
    line-height: 5vw;
    font-family: ocr-a;
    font-size: 5vw;
    color: white;
    text-align: center;
}
.reveal{
    margin-top: 4vw;
    margin-left: 46vw;
    height: 2vw;
    width: 5vw;
    padding: 1.5vw;
    font-family: ocr-a;
    text-align: center;
    font-size: 4.5vw;
    color: black;
    border-radius: 0.3vw;
    background-color: whitesmoke;
}
.line{
    overflow:hidden;
    margin-top: -2.5vw;
    height: 0.5vw;
    border: 0vw;
    background-color: aliceblue;
}

.bottomSec{
    margin-top: 16vw;
    padding-left: 23vw;
    margin-left: 40VW;
    font-family:'Segoe UI';
    font-size: 1.5vw;
    color: white;
}
.guess{
    resize: none;
    margin-left: -30.8vw;
    height: 3vw;
    width: 6vw;
    font-family: ocr-a;
    font-size: 2vw;
    text-align: center;
    color: black;
    border-width: 0vw;
    border-block-color: transparent;
    border-bottom: solid #4FAF44;
    background-color:white;
    outline: none;
    cursor:auto;
}
.check{
    resize: none;
    display: block;
    margin-top: 0.5vw;
    margin-left: -30.8vw;
    height: 0vw;
    width: 5.6vw;
    font-size: 1vw;
    cursor: pointer;
    border: 0.1% solid #4FAF44;
    color: white;
    background-color: transparent;
}
.status{
    display: block;
    margin-top: -10vw;
}
.score{
    margin-top: 3vw;
}
.scoreVal{
    margin-top: -4.4vw;
    margin-left: 8.5vw;
}
.highScoreVal{
    margin-top: 0vw;
    margin-left: 16.3vw;
}
